.header {
  background: url(../images/header.png);
  background-color: #ffffff;
  height: 500px;

}

.header__logo {
  position: relative;
  left: 250px;
  top: 20px;
}

.header__button {
  font: normal 400 13px 20px "Oxygen";
  background: #dd783f;
  height: 44px;
  color: #ffffff;
  border-radius: 3px;
  border-color: #dd783f;
  position: relative;
  top: -16px;
}

.header__items {
  list-style-type: none;
  display: flex;
  position: relative;
  margin-left: 1000px;
  ;


}

.header__items_link {
  font: normal 400 12px/20px "Oxygen";
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  position: relative;
  margin-left: 40px;
  top: -20px;

}

.header__top-block {
  position: relative;
  text-align: center;
  top: 51px;
}

.header__top-block_title {
  font: normal 400 50px/51px "Lora";
  color: #ffffff;


}

.header__top-block_pretitle {
  font: normal 400 17px/20px "Oxygen";
  color: rgba(255, 255, 255, 0.63);
  position: relative;
  top: -20px;
}

.navigation-menu {
  background: #ffffff;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 65px;
  position: relative;
  top: -20px;
}

.navigation-menu__link {
  font: normal 400 14px/20px "Lora";
  color: #768088;
  text-decoration: none;
  position: relative;
  top: 20px;
}

.featured-posts {
  background-color: #F7F7F7;
}

.featured-posts__all {
  display: flex;
  position: relative;
  justify-content: center;
  top: 15px;
}

.featured-posts__title {
  font: normal 400 20px/27px "Oxygen";
  letter-spacing: 2px;
  color: #2e2e2e;
  text-align: center;
  position: relative;
  top: 35px;
}

.featured-posts__line {
  position: relative;
  text-align: center;
  top: 15px;
}

.featured-posts__first-post {
  background: url(../images/theroadahead.png) no-repeat;
  width: 460px;
  height: 280px;
  margin-right: 20px;

}

.featured-posts__first_title {
  font: normal 400 27px/30px "Lora";
  color: #ffffff;
  position: relative;
  top: 130px;
  left: 20px;

}

.featured-posts__first-post_link {
  text-decoration: none;
}

.featured-posts__first_pretitle {
  font: normal 400 14px/25px "Oxygen";
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 110px;
  left: 20px;
}

.featured-posts__publisher_bar {
  display: flex;

}

.featured-posts__first-publisher {
  height: 26px;
  width: 26px;
  left: 0px;
  top: 5px;
  border-radius: 60px;
  position: relative;
  left: 20px;
  top: 116px;
}

.featured-posts__second-publisher {
  height: 26px;
  width: 26px;
  left: 0px;
  top: 5px;
  border-radius: 60px;
  position: relative;
  left: 20px;
  top: 88px;
}

.featured-posts__first-name-date {
  font: normal 400 12px/35px "Oxygen";
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  margin-right: 102px;
  top: 100px;
  left: 35px;
}

.featured-posts__second-name-date {
  font: normal 400 12px/35px "Oxygen";
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  margin-right: 122px;
  top: 71px;
  left: 35px;
}

.featured-posts__second-post {
  background: url(../images/from-top-down.png) no-repeat;
  width: 460px;
  height: 280px;
}

.featured-posts__second_title {
  font: normal 400 27px/30px "Lora";
  color: #ffffff;
  position: relative;
  top: 96px;
  left: 20px;
}

.featured-posts__second_pretitle {
  font: normal 400 14px/25px "Oxygen";
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 79px;
  left: 20px;
}

.featured-posts__second-button {
  height: 16px;
  width: 67px;
  border-radius: 2px;
  position: relative;
  margin: 6px 9px 0px 10px;
}

.featured-posts__second-button_back {
  background: url(../images/adventure-back.png);
  height: 26px;
  width: 87px;
  border-radius: 2px;
  margin: 20px 0px 0px 20px;

}

.most-recent__title_main {
  font: normal 400 20px/27px "Oxygen";
  letter-spacing: 2px;
  color: #2e2e2e;
  text-align: center;
  position: relative;
  top: 42px;
}

.most-recent {
  background-color: #F7F7F7;

}

.most-recent__line {
  text-align: center;
  position: relative;
  top: 25px;
}

.most-recent__post-line {
  position: relative;
  bottom: 42px;
}

.most-recent__first-half {
  display: flex;
  position: relative;
  top: 25px;
  margin: 0px 24px 25px 467px;
}

.most-recent__second-half {
  display: flex;
  position: relative;
  top: 25px;
  margin: 0px 24px 25px 467px;
}

.most-recent__post-first {
  background-color: #ffffff;
  height: 300px;
  width: 296px;
  border-radius: 3px;
  margin: 0px 12px 0px 12px;

}

.most-recent__title {
  font: normal 400 16px/21px "Lora";
  color: #101315;
  margin: 14px 150px 57px 13px;
}

.most-recent__subtitle {
  font: normal 499 13px/19px "Oxygen";
  color: #7a7a7a;
  position: relative;

  bottom: 42px;
  margin: 30px 10px 0px 13px
}

.most-recent__subtitle_short {
  font: normal 499 13px/19px "Oxygen";
  color: #7a7a7a;
  position: relative;

  bottom: 42px;
  margin: 30px 10px 20px 13px
}

.most-recent__publisher_bar {
  display: flex;
  position: relative;
  bottom: 40px;
}

.most-recent__first-publisher {
  height: 26px;
  width: 26px;
  position: relative;
  left: 13px;
  border-radius: 60px;
}

.most-recent__second-publisher {
  height: 26px;
  width: 26px;
  position: relative;
  left: 13px;
  border-radius: 60px;
}

.most-recent__name-date {
  font: normal 400 11px/35px "Oxygen";
  color: #999999;
  margin: 0px 25px 0px 25px;
}

.most-recent__picture {
  width: 296px;
  height: 150px;
}

.footer {
  background: url(../images/footer.png);
  height: 378px;
  width: auto;
  margin-top: 108px;
  background-color: rgba(35, 47, 56, 0.6);
}

.footer__title {
  font: normal 400 25px/30px "Oxygen";
  position: relative;
  left: 871px;
  top: 41px;
  color: #EFEFEF;
}

.footer__line {
  position: relative;
  left: 856px;
  top: 28px;
}

.footer__nav {
  background: url(../images/footer_black.png);
  Fill: Solid;
  color: rgba(35, 47, 56, 0.6);
  position: relative;
  top: 160px;

}

.nav__link {
  font: normal 400 11px/26px "Oxygen";
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: flex;
  position: relative;
  margin-left: 40px;
  bottom: 15px;
  left: 380px;
}

.fp-back {
  background-color: #F7F7F7;
}



.footer__logo {
  position: relative;
  top: 25px;
  left: 200px;
}

.nav {
  list-style-type: none;
  display: flex;
  position: relative;
  left: 635px;
  top: -5px;
}

.footer__form {
  position: relative;
  left: 700px;
  top: 49px;
}

.footer__form_text {
  width: 375px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 3px 0px 0px 3px;
}

.footer__form_button {
  height: 50px;
  width: 125px;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 0px 3px 3px 0px;
  font: normal 400 12px/14px "Roboto";
  color: #F8F8F8;
}