/* .header__escape {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: #2e2e2e;
} */

.header__items{
  list-style-type: none;
}

.header__items_link {
  font: normal 400 12px/20px "Oxygen";
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #2e2e2e;
  text-decoration: none;
}

.main__title {
  font: normal 400 50px/51px "Lora";
  letter-spacing: 2px;
  color: #2e2e2e;
}

.main__pretitle {
  font: normal 400 17px/20px "Oxygen";
  color: rgba(46, 46, 46, 0.63);
}

.main__image {
  width: 1440px;
  height: 534px;
}

.main__text {
  font: normal 400 24px/35px "Oxygen";
  color: #101315;
}

.footer {
  background: url(../images/footer.png);
  background-color: rgba(35, 47, 56, 0.6);
}

.footer__items_link {
  font: normal 499 11px/26px "Oxygen";
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* .footer__escape {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
} */

